<footer>
    <div class="bgImage" style="background-image: url(/assets/images/texture.jpg);">
        <div id="footer-logo">
            <a class="navbar-brand" [routerLink]="[ '/home' ]">D<span style="color: fuchsia;">O</span>NUTS STORE</a>
            <p>Ⓒ 2020 DONUTS STORE. <br>
                Всі права захищенні.</p>
            <span style="text-decoration: underline;">Політика конфіденційності</span>
        </div>
        <div class="footerNav">
            <ul>
                <li class="menu-item">
                    <a [routerLink]="[ '/about' ]">Про нас</a>
                </li>
                <li class="menu-item">
                    <a href="#">Переваги</a>
                </li>
                <li class="menu-item">
                    <a [routerLink]="[ '/catalog' ]">Каталог</a>
                </li>
                <li class="menu-item">
                    <a href="#">Відгуки</a>
                </li>
                <li class="menu-item">
                    <a href="#">Оплата і доставка</a>
                </li>
            </ul>
        </div>
        <div class="footer-contact">
            <h5>Контакти:</h5>
            <img src="/assets/images/phone.svg" alt="phone">
            <span style="text-decoration: underline;">+380 66 888 4377</span>
            <h6>Підпишись на нас:</h6>
            <img src="/assets/images/instagram.svg" alt="phone">
            <img src="/assets/images/facebook.svg" alt="phone">
            <img src="/assets/images/tiktok.svg" alt="phone">

        </div>
        <div class="image">
            <img src="/assets/images/donuts.png" alt="">
        </div>

    </div>
</footer>