<div class="wrapper">
    <div class="nav">
        <div class="nav__body">
            <div class="nav__logo">
                <a class="navbar-brand" [routerLink]="[ 'home' ]">D<span style="color: #fcd517;; font-weight: bold;">O</span>NUTS
                    STORE</a>
            </div>
            <div class="nav__menu" [ngClass]="{'active': !active}">
                <ul class="nav__list" (click)="toggle()">
                    <li class="nav-item active">
                        <a class="nav__link" [routerLink]="[ '/about' ]">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" (click)="scrollToAdv()">Переваги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" [routerLink]="[ '/catalog' ]">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" (click)="scrollToFeed()">Відгуки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" (click)="scrollToDel()">Оплата і доставка</a>
                    </li>
                    <li class="nav-item tel">
                        <img src="/assets/images/phone.svg" alt="phone" style="height: 20px; width: 20px;">
                        <span>066 888 43 77</span>
                    </li>
                </ul>
            </div>
            <div class="nav__right">
                <div class="headerSection header-cart">
                    <img class="profileImg" src="/assets/images/user.svg" alt="profile" *ngIf="!isLogin" (click)="openProfile(signModal)">
                    <img class="profileImg" src="/assets/images/profile.svg" alt="profile" *ngIf="isLogin" [routerLink]="[ '/profile' ]">

                </div>
                <div class="headerSection header-cart">
                    <img src="/assets/images/shopping.svg" alt="basket" (click)="openBasket(basketModal)">
                    <a (click)="openBasket(basketModal)">Корзина <br>
                        <span class="basketPrice">{{ totalPrice }} грн</span>
                    </a>
                </div>
                
            </div>
            <div class="nav__burger">
                <span (click)="toggle()">☰</span>
            </div>

        </div>
    </div>

</div>
<!--/.Navbar-->

<ng-template #basketModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Корзина</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"
            style="outline: none;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="basket-product" *ngFor="let prod of basket; let i=index">
            <div class="basket-product__order" >
                <img [src]="prod.image" alt="" [routerLink]="[ '/catalog', prod.id ]">
                <div class="basket-product__descrip">
                    <span>{{ prod.weight }} г</span>
                    <h4>{{ prod.name }}</h4>
                </div>
            </div>
            <div class="basket-product__price">
                <span class="close" (click)="removeProduct(prod)">x</span>
                <div class="don-counter">
                    <span class="productCount lessProduct" (click)="countProduct(prod, false)">⊖</span>
                    <input class="product-qty" maxlength="3" type="text" [value]="prod.count">
                    <span class="productCount moreProduct" (click)="countProduct(prod, true)">⊕</span>
                </div>
                <span>{{ prod.price * prod.count}} грн</span>
            </div>
        </div>
        <hr>
        <div class="payment-order">
            <h5>До оплати: {{ totalPrice }} грн</h5>
            <button class="view-btn" [routerLink]="[ '/order']" (click)="modalRef.hide()">Оформити замовлення</button>
        </div>

    </div>
</ng-template>


<ng-template #signModal >
    <div class="modal-header">
        <h4 class="modal-title pull-left">Вхід</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="sign-form">
            <div class="form-group">
                <label for="userEmail">Електронна пошта</label>
                <input type="email" [(ngModel)]="userEmail" name="userEmail" id="userEmail" class="form-control" placeholder="email here..">
            </div>
            <div class="form-group">
                <label for="userPass">Пароль</label>
                <input type="password" [(ngModel)]="userPass" name="userPass" id="userPass" class="form-control" placeholder="password here..">
            </div>
            <button type="submit" class="view-btn" (click)="signIn()" (click)="modalRef.hide()">Увійти</button><br>
            <span>Не маєш акаунту?</span>
            <span class="text-danger" (click)="modalRef.hide()" (click)="signUpModal(signUpMod)">Зареєструватися</span>
        </div>
    </div>
</ng-template>

<ng-template #signUpMod>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Реєстрування</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="sign-form">
            <div class="form-group">
                <label for="userName">Ім'я:</label>
                <input type="text" [(ngModel)]="userName" name="userName" id="userName" class="form-control">
            </div>
            <div class="form-group">
                <label for="userEmail">Електронна пошта:</label>
                <input type="email" [(ngModel)]="userEmail" name="userEmail" id="userEmail" class="form-control">
            </div>
            <div class="form-group">
                <label for="userTel">Номер телефону:</label>
                <input type="text" [(ngModel)]="userTel" name="userTel" id="userTel" class="form-control">
            </div>
            <div class="form-group">
                <label for="userPass">Пароль:</label>
                <input type="password" [(ngModel)]="userPass" name="userPass" id="userPass" class="form-control">
            </div>
            <button type="submit" class="view-btn" (click)="modalRef.hide()" (click)="signUp()">Зареєструватися</button><br>
            <span>Вже маєш акаунт?</span>
            <span class="text-danger" (click)="modalRef.hide()" (click)="openProfile(signModal)">Увійти</span>
        </div>
    </div>
</ng-template>