<div class="profile-container">
    <h2 class="profile-title text-center">Особистий кабінет</h2>
    <div class="account">
        <div class="account__info">
            <div class="account__avatar">
                <img src="" alt="">
                <span class="text-danger">Змінити фотографію</span>
            </div>
            <div class="account__list">
                <div class="form-group">
                    <label for="userName">Ім'я користувача:</label>
                    <input type="text" [(ngModel)]="userName" name="userName" id="userName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="userTel">Номер телефону:</label>
                    <input type="text" [(ngModel)]="userTel" name="userTel" id="userTel" class="form-control">
                </div>
                <div class="form-group">
                    <label for="userEmail">Електронна пошта:</label>
                    <input type="email" [(ngModel)]="userEmail" name="userEmail" id="userEmail" class="form-control">
                </div>
                <button class="btn btn-primary btn-block" (click)="save()">Зберегти</button>
            </div>
            <div class="account__signout">
                <button class="btn btn-danger btn-block" (click)="signOut()">Вийти</button>
            </div>
        </div>
    </div>
</div>