<div class="profile-container">
    <h2 class="profile-title text-center">Особистий кабінет</h2>
    <div class="account">
        <div class="account__info">
            <div class="account__avatar">
                <img src="" alt="">
                <span class="text-danger">Змінити фотографію</span>
            </div>
            <div class="account__list">
                <span>Користувач</span>
                <h5></h5>
                <span>Телефон</span>
                <h5>063 661 27 71</h5>
                <span>Електронна скринька</span>
                <h5>lilahorbatyk@gmail.com</h5>
            </div>
            <div class="account__signout">
                <button class="btn btn-danger btn-block" (click)="signOut()">Вийти</button>
            </div>
        </div>
    </div>
</div>