<div class="profile-container">
    <div class="account">
        <div class="account__info">
            <h3 class="profile-title text-center" >Особистий кабінет</h3>
            <div class="account__avatar">
                <img [attr.src]="userImage" alt="">
                <label for="file-input" class="text-danger changeImg">Змінити фотографію</label>
                <input type="file" id="file-input" (change)="uploadFile($event)">
            </div>
            <div class="account__list">
                <div class="form-group">
                    <label for="userName">Ім'я користувача:</label>
                    <input type="text" [(ngModel)]="userName" name="userName" id="userName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="userTel">Номер телефону:</label>
                    <input type="text" [(ngModel)]="userTel" name="userTel" id="userTel" class="form-control">
                </div>
                <div class="form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <label for="email">Електронна пошта:</label>
                    <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control">
                </div>
                <button class="btn btn-success btn-block mb-2" (click)="save()" *ngIf="saveStatus">Зберегти</button>
                <button class="btn btn-primary btn-block mb-3" (click)="update()" *ngIf="!saveStatus">Редагувати</button>
            </div>
            <div class="account__signout">
                <button class="btn btn-danger btn-block" (click)="signOut()">Вийти</button>
            </div>
        </div>
    </div>
</div>