@import "/src/app/base/mixins";
@import "/src/app/base/variables";

.profile-container {
    width: 100%;
    margin: 60px auto;
    @include flex (flex, row nowrap, center, center)
}

.account {
    width: 80%;
    margin: 10px auto;
    min-height: 300px;
    padding: 20px;
    @include flex (flex, column nowrap, space-between, center);
    &__info {
        width: 100%;
        font-family: $ff;
        .changeImg {
            width: 200px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__avatar {
        width: 130px;
        height: 130px;
        margin: 40px auto;
        @include flex (flex, column nowrap, center, center);
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0 0 20px 0px #be93c1;
        }
        #file-input {
            border: none;
        }
    }
    &__list {
        .form-group input {
            border: none;
            border-bottom: 1px solid black;
        }
        .btn {
            font-family: $ff;
        }
    }
}