<section class="container">
    <div class="wrapper">
        <div class="history">
            <h3 class="history__title">Найкращі в своїй справі</h3>
            <div class="history__video">
                <p>Ідея винникла у Львові, де ми з родиною живемо довгі роки і помітили, що ніде не можна було взяти ту солодку основу 
                    щастя - теплий, свіжий донатс. Все, що розпочалося як примха, переросло у веселі сеанси рецептів, 
                    багатомісячні дослідження та співпрацю, і врешті-решт призвело до відкриття першого 
                    «Donuts Store» у місті Львові, у 2020 році! <br>
                    Незабаром ми з’ясували, що наші теплі, свіжі та виготовлені на замовлення пончики у поєднанні з великим 
                    вибором кави - це рецепт успіху! Ми робимо це просто і смачно!
                </p>
                <video autoplay loop src="/assets/images/video.webm"></video>
            </div>
            <div class="history__photo">
                <img src="/assets/images/history-photo.jpg" alt="">
                <p>Головний пріоритет для нас – висока якість нашого продукту та сервісу.
                    Тому вся сировина з якої виготовляється наша продукція є найвищої якості та має 
                    належні сертифікати якості. <br>
                    Ми любимо створювати пончики, і ми любимо створювати посмішки! Наші численні шанувальники 
                    кажуть нам, що ми на правильному шляху, і хоча там можуть бути й інші пончики - ми відчуваємо, 
                    що знайшли досить особливу комбінацію.
                </p>
            </div>
        </div>
    </div>
</section>