<section class="container">
    <div class="wrapper">
        <div class="history">
            <h3 class="history__title">Найкращі в своїй справі</h3>
            <div class="history__video">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quae? Temporibus cupiditate dolorum
                    enim nihil blanditiis. Sequi, molestias eos eaque voluptas impedit harum. Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Laborum exercitationem ut, sequi inventore magni ipsum quo neque
                    omnis laboriosam vitae assumenda debitis provident atque optio, ipsam obcaecati soluta est maxime.Laborum exercitationem ut, sequi inventore magni ipsum quo neque
                    omnis laboriosam vitae assumenda debitis provident atque optio, ipsam obcaecati soluta est maxime.
                </p>
                <video autoplay loop src="/assets/images/video.mp4"></video>
            </div>
            <div class="history__photo">
                <img src="/assets/images/history-photo.jpg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit esse modi sed est, nostrum saepe
                    deleniti repudiandae! Enim perferendis quod distinctio ab, fugiat quos earum totam, libero
                    perspiciatis quaerat rem? Laborum exercitationem ut, sequi inventore magni ipsum quo neque
                    omnis laboriosam vitae assumenda debitis provident atque optio, ipsam obcaecati soluta est maxime.</p>
            </div>
        </div>
    </div>
</section>