<section class="header" style="background-image: url(assets/images/bgdon.jpg);">
    <div class="header-center">
        <span class="title">Пончики як в Америці</span>
        <p class="title-text">Знайди свій улюблений.</p>
        <button [routerLink]="[ '/catalog' ]" class="view-btn">Каталог</button>
    </div>
</section>

<section class="about">
    <div class="container-about">
        <div class="about-img" style="background-image: url(/assets/images/photo-about.jpg);"></div>
        <div class="about-text">
            <h3>Про нас</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat vel nostrum ut veritatis eligendi
                deserunt praesentium distinctio ullam facilis expedita quae, cumque dignissimos odit sed doloremque
                illum quia quas dolorem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quam corporis fuga facere voluptate
                recusandae placeat obcaecati cupiditate aperiam atque possimus distinctio a voluptatum assumenda, saepe
                nisi officia temporibus veritatis?</p>
            <span [routerLink]="[ '/about' ]" data-aos="fade-right">Детальніше про нас 🠖 </span>
        </div>
    </div>
</section>

<section class="advantages" id="advantages">
    <h3 class="advantages-title">Чому вибирають нас?</h3>
    <div class="container-advantages">
        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/dairy-product.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Натуральні інгредієнти</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolores provident.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/medal.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Якість</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis hic illum non est.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/box-delivery.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Безкоштовна доставка</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis hic illum non est.</p>
            </div>
        </div>
    </div>
</section>

<section class="goods">
    <h3 class="goods-title">Наш асортимент</h3>
    <div class="container-goods">
        <div class="goods-card" *ngFor="let prod of products">
            <div class="goods-card__img" [routerLink]="[ '/catalog', prod.id ]">
                <!-- <img src="/assets/images/black.png" alt="">  -->
                <img [src]="prod.image" alt="">
            </div>
            <div class="goods-card__title">
                <span class="don-name">{{ prod.name }}</span>
                <span class="don-price">{{ prod.price * prod.count}} ₴</span>
            </div>
            <div class="goods-card__description">
                <span>{{ prod.weight }} г</span>
                <p>{{ prod.description }}</p>
            </div>
            <div class="goods-card__product-сounter">
                <div class="don-counter">
                    <span class="productCount lessProduct" (click)="countProduct(prod, false)">⊖</span>
                    <input class="product-qty" readonly maxlength="3" type="text" [value]="prod.count">
                    <span class="productCount moreProduct" (click)="countProduct(prod, true)">⊕</span>
                </div>
                <button class="goods-card__btn" (click)="addToBasked(prod)">В корзину</button>
            </div>
        </div>
    </div>
    <button class="view-btn" [routerLink]="[ '/catalog' ]">Каталог</button>
</section>

<section class="create" style="background-image: url(/assets/images/line.png);">
    <div class="create-box">
        <div class="create-text">
            <h3>Склади свій власний набір</h3>
            <p>Вибери 3, 6 чи 9 пончиків, а ми упакуємо їх в красиву коробку.
                Також ви можете добавити квіти та відкритку і подарувати рідним та друзям.
            </p>
            <button class="view-btn">Скласти набір</button>
        </div>
        <div class="box" data-aos="zoom-in-up">
            <img src="/assets/images/box.png" alt="">
        </div>
    </div>
</section>

<section class="delivery" id="delivery">
    <h3 class="advantages-title">Доставка і оплата</h3>
    <div class="container-advantages">
        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/task-list.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Підтвердіть замовлення</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolores provident.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/payment.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Здійсніть оплату</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis hic illum non est.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/trust.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Отримайте</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis hic illum non est.</p>
            </div>
        </div>
    </div>
</section>

<section class="order-form">
    <div class="order-container">
        <div class="order-container__sweetbox">
            <video autoplay loop src="/assets/images/delivery-box.mp4"></video>
        </div>
        <div class="order-container__form">
            <h3>Заповніть форму для швидкого замовлення</h3>
            <span>Передзвонимо протягом 1 хвилини</span>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="/assets/images/user.svg" alt=""
                            style="width: 20px; height: 20px;"></div>
                </div>
                <input type="text" class="form-control" placeholder="Ваше ім'я">
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="/assets/images/phone2.svg" alt=""
                            style="width: 20px; height: 20px;"></div>
                </div>
                <input type="tel" class="form-control" placeholder="38(___)-___-__-__">
            </div>
            <button class="view-btn">Замовити</button>

        </div>
    </div>
</section>

<section class="feedback" id="feedback">
    <h3 class="feedback-title">Відгуки наших клієнтів</h3>
    <div class="container-feedback">
    <!-- <div class="feedback-card" *ngFor="let slide of slides">
            <div class="feedback-card__avatar">
                <img src="/assets/images/woman.png" alt="">
            </div>
            <div class="feedback-card__description">
                <span class="feedback-card__name">{{ slide.name }}</span>
                <span class="feedback-card__date">17.12.20</span>
                <span class="feedback-card__grade">★★★★★</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nulla?</p>
                <span style="text-decoration: underline;">Читати повністю 🠖</span>
            </div>
        </div> -->
    <div class="feedback-card">
            <div class="feedback-card__avatar">
                <img src="/assets/images/woman.png" alt="">
            </div>
            <div class="feedback-card__description">
                <span class="feedback-card__name">Ірина</span>
                <span class="feedback-card__date">17.12.20</span>
                <span class="feedback-card__grade">★★★★★</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nulla?</p>
                <span style="text-decoration: underline;">Читати повністю 🠖</span>
            </div>
        </div>
    <div class="feedback-card">
            <div class="feedback-card__avatar">
                <img src="/assets/images/woman.png" alt="">
            </div>
            <div class="feedback-card__description">
                <span class="feedback-card__name">Ірина</span>
                <span class="feedback-card__date">17.12.20</span>
                <span class="feedback-card__grade">★★★★★</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nulla?</p>
                <span style="text-decoration: underline;">Читати повністю 🠖</span>
            </div>
        </div>
    </div>
</section>

<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div class="feedback-card">
            <div class="feedback-card__avatar">
                <img src="/assets/images/woman.png" alt="">
            </div>
            <div class="feedback-card__description">
                <span class="feedback-card__name">{{ slide.name }}</span>
                <span class="feedback-card__date">{{ slide.date | date:'d.M.yy' }}</span>
                <span class="feedback-card__grade">{{ slide.grade }}</span>
                <p>{{ slide.description }}</p>
                <span style="text-decoration: underline;">Читати повністю 🠖</span>
            </div>
        </div>
    </div>
</ngx-slick-carousel> -->

<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->