<section class="header" style="background-image: url(assets/images/bgdon.jpg);">
    <div class="header-center">
        <span class="title">Пончики як в Америці</span>
        <p class="title-text">Знайди свій улюблений.</p>
        <button [routerLink]="[ '/catalog' ]" class="view-btn">Каталог</button>
    </div>
</section>

<section class="about">
    <div class="container-about">
        <div class="about-img" style="background-image: url(/assets/images/photo-about.jpg);"></div>
        <div class="about-text">
            <h3>Про нас</h3>
            <p>Ідея винникла у Львові, де ми з родиною живемо довгі роки і помітили, що ніде не можна було взяти ту
                солодку основу
                щастя - теплий, свіжий донатс. Все, що розпочалося як примха, переросло у веселі сеанси рецептів,
                багатомісячні дослідження та співпрацю, і врешті-решт призвело до відкриття першого
                «Donuts Store» у місті Львові, у 2020 році!</p>
            <p>Незабаром ми з’ясували, що наші теплі, свіжі та виготовлені на замовлення пончики у поєднанні з великим
                вибором кави - це рецепт успіху! Ми робимо це просто і смачно!</p>
            <span [routerLink]="[ '/about' ]" data-aos="fade-right">Детальніше про нас 🠖 </span>
        </div>
    </div>
</section>

<section class="advantages" id="advantages">
    <h3 class="advantages-title">Чому вибирають нас?</h3>
    <div class="container-advantages">
        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/dairy-product.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Натуральні інгредієнти</span>
                <p>В процесі виготовлення використовуємо натуральні і свіжі продукти.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/medal.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Якість</span>
                <p>Пончики виготовляються у день замовлення.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/box-delivery.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Безкоштовна доставка</span>
                <p>Кур'єр доставить пончики куди ви забажаєте.</p>
            </div>
        </div>
    </div>
</section>

<section class="goods">
    <h3 class="goods-title">Наш асортимент</h3>
    <div class="container-goods">
        <div class="goods-card" *ngFor="let prod of products">
            <div class="goods-card__img" [routerLink]="[ '/catalog', prod.id ]">
                <!-- <img src="/assets/images/black.png" alt="">  -->
                <img [src]="prod.image" alt="">
            </div>
            <div class="goods-card__title">
                <span class="don-name">{{ prod.name }}</span>
                <span class="don-price">{{ prod.price * prod.count}} ₴</span>
            </div>
            <div class="goods-card__description">
                <span>{{ prod.weight }} г</span>
                <p>{{ prod.description }}</p>
            </div>
            <div class="goods-card__product-сounter">
                <div class="don-counter">
                    <span class="productCount lessProduct" (click)="countProduct(prod, false)">⊖</span>
                    <input class="product-qty" readonly maxlength="3" type="text" [value]="prod.count">
                    <span class="productCount moreProduct" (click)="countProduct(prod, true)">⊕</span>
                </div>
                <button class="goods-card__btn" (click)="addToBasked(prod)">В корзину</button>
            </div>
        </div>
    </div>
    <button class="view-btn" [routerLink]="[ '/catalog' ]">Каталог</button>
</section>

<section class="create" style="background-image: url(/assets/images/line.png);">
    <div class="create-box">
        <div class="create-text">
            <h3>Склади свій власний набір</h3>
            <p>Вибери 6, 9 чи 12 пончиків, а ми упакуємо їх в красиву коробку.
                Також ви можете добавити квіти та відкритку і подарувати рідним та друзям.
            </p>
            <button class="view-btn"[routerLink]="[ '/catalog' ]">Скласти набір</button>
        </div>
        <div class="box" data-aos="zoom-in-up">
            <img src="/assets/images/box.png" alt="">
        </div>
    </div>
</section>

<section class="delivery" id="delivery">
    <h3 class="advantages-title">Доставка і оплата</h3>
    <div class="container-advantages">
        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/task-list.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Підтвердіть замовлення</span>
                <p>Наш менеджер зв'яжеться з вами протягом 10 хв для підтвердження замовлення.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/payment.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Здійсніть оплату</span>
                <p>Замовлення можна оплатити карткою через термінал або готівкою кур'єру.</p>
            </div>
        </div>

        <div class="advantages-box">
            <div class="advantages-img">
                <img src="/assets/images/trust.svg" alt="">
            </div>
            <div class="advantages-description">
                <span>Отримайте</span>
                <p>Доставка безкоштовна в будь-яку точку Львова.</p>
            </div>
        </div>
    </div>
</section>

<section class="order-form">
    <div class="order-container">
        <div class="order-container__sweetbox">
            <video autoplay loop src="/assets/images/delivery-box.webm"></video>
        </div>
        <div class="order-container__form">
            <h3>Заповніть форму для швидкого замовлення</h3>
            <span>Передзвонимо протягом 1 хвилини</span>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="/assets/images/user.svg" alt=""
                            style="width: 20px; height: 20px;"></div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="userName" placeholder="Ваше ім'я">
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="/assets/images/phone2.svg" alt=""
                            style="width: 20px; height: 20px;"></div>
                </div>
                <input type="tel" class="form-control" [(ngModel)]="userPhone" placeholder="38(___)-___-__-__">
            </div>
            <button class="view-btn" (click)="addOrder()">Замовити</button>

        </div>
    </div>
</section>

<section class="feedback" id="feedback">
    <h3 class="feedback-title">Відгуки наших клієнтів</h3>
    <div class="container-feedback">
        <div class="feedback-card" *ngFor="let feed of feedback">
            <div class="feedback-card__avatar">
                <img [attr.src]="feed.image" alt="">

            </div>
            <div class="feedback-card__description">
                <span class="feedback-card__name">{{ feed.name }}</span>
                <span class="feedback-card__date">{{ feed.date.toDate() | date: 'dd.MM.yy' }}</span>
                <span class="feedback-card__grade">{{ feed.grade }} / 5</span> 
                <p>{{ feed.description }}</p>
            </div>
        </div>
    </div>
</section>
