<div class="modal-header">
    <h4 class="modal-title pull-left">Додати продукти</h4>
</div>
<div class="modal-body" id="editForm">
    <div class="form-group">
        <label for="prodName">Name</label>
        <input type="text" [(ngModel)]="prodName" name="prodName" id="prodName" class="form-control"
            placeholder="name here..">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea style="width:100%;" [(ngModel)]="description" name="description" id="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input [(ngModel)]="price" type="number" class="form-control" id="price">
    </div>
    <div class="form-group">
        <label for="price">Weight</label>
        <input [(ngModel)]="weight" type="text" class="form-control" id="weight">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="prodImage" (change)="uploadFile($event)">
            <label class="custom-file-label" for="prodImage">Choose file</label>
        </div>
        <!-- <div class="progress">
            <div class="progress-bar" [style.width]="(uploadPercent | async) + '%'" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
    </div>
    <button *ngIf="!editStatus" class="btn btn-dark" (click)="addAdminProduct()">Add</button>
    <button *ngIf="editStatus" (click)="updateAdminProduct()" class="btn btn-light">Save edit</button>
</div>

<table class="table table-bordered">
    <thead>
        <tr class="table-active">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Weight</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of adminProd; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ prod.name }}</td>
            <td>{{ prod.description }}</td>
            <td>{{ prod.price }}</td>
            <td>{{ prod.weight }}</td>
            <td><img class="prod-img" [attr.src]="prod.image" alt="prod-image"></td>
            <td><button (click)="editAdminProduct(prod)" (click)="scrollToEdit()" class="btn btn-dark">Edit</button>
            </td>
            <td><button (click)="deleteAdminProduct(prod)" class="btn btn-dark">Delete</button></td>
        </tr>
    </tbody>
</table>