<h3 class="order-title text-center" style="font-weight: 500;">Оформлення замовлення</h3>
<div class="order-body">
    <div class="order-form" >
        <div class="form-group">
            <label for="userName">Ім'я:</label>
            <input type="text" [ngClass]="{invalid:isInvalid}" [(ngModel)]="userName" name="userName" id="userName" class="form-control">
        </div>
        <div class="form-group">
            <label for="userTel">Номер телефону:</label>
            <input type="text" [(ngModel)]="userTel" name="userTel" id="userTel" class="form-control">
        </div>
        <div class="form-group">
            <label for="userCity">Місто:</label>
            <input type="text" [(ngModel)]="userCity" name="userCity" id="userCity" class="form-control">
        </div>
        <div class="form-group">
            <label for="userStreet">Вулиця:</label>
            <input type="text" [(ngModel)]="userStreet" name="userStreet" id="userStreet" class="form-control">
        </div>
        <div class="form-group">
            <label for="userHouse">Будинок:</label>
            <input type="text" [(ngModel)]="userHouse" name="userHouse" id="userHouse" class="form-control">
        </div>
        <div class="form-group">
            <label for="userFlat">Квартира:</label>
            <input type="text" [(ngModel)]="userFlat" name="userFlat" id="userFlat" class="form-control">
        </div>
        <div class="form-group">
            <label for="userComments">Коментар:</label>
            <textarea [(ngModel)]="userComments" name="userComments" id="userComments" style="width: 100%;"></textarea>
        </div>
        <div class="form-group form-check">
            <span>*Вибери 6, 9 чи 12 пончиків, а ми упакуємо їх в красиву коробку.</span>
            <hr>
            <input type="checkbox" class="form-check-input" [(ngModel)]="box" name="box" id="box">
            <label for="box" class="form-check-label">Хочу бокс!</label>
        </div>
        <button type="submit" class="view-btn" (click)="addOrder()" (click)="openOrderModal(orderModal)">Оформити замовлення</button>
        <p class="text1">**Сума мінімального замовлення - 100 грн. <br>
             При меншій сумі доставка - 50 грн</p>
        <ng-template #orderModal>
            <div class="modal-header">
                <h4 class="modal-title pull-center">Дякуємо{{ userName }}!</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Ваше замовлення прийняте.</h4>
                <h5>Очікуйте дзвінка консультанта.</h5>
            </div>
        </ng-template>
    </div>

    <div class="user-order">
        <div class="basket-product" *ngFor="let prod of basket">
            <div class="basket-product__order">
                <img [src]="prod.image" alt="">
                <div class="basket-product__descrip">
                    <span>{{ prod.weight }} г</span>
                    <h4>{{ prod.name }}</h4>
                </div>
            </div>
            <div class="basket-product__price">
                <span class="close" (click)="removeProduct(prod)">x</span>
                <div class="don-counter">
                    <span class="productCount lessProduct" (click)="countProduct(prod, false)">⊖</span>
                    <input class="product-qty" maxlength="3" type="text" [value]="prod.count">
                    <span class="productCount moreProduct" (click)="countProduct(prod, true)">⊕</span>
                </div>
                <span>{{ prod.price * prod.count}} грн</span>
            </div>
        </div>
        <h4 class="text-danger">До оплати: {{ totalPrice }} грн.</h4>
    </div>
</div>