<h3 class="title">Замовлення</h3>
<div class="container">
    <div class="admin-order" *ngFor="let ord of orders; let i = index" >
        <ol>
            <li>№{{ i+1 }}</li>
            <li>Дата замовлення: {{ ord.date.toDate() | date: 'dd.MM.yy, H:mm'}}</li>
            <li>Покупець: {{ ord.userName }}</li>
            <li>Номер телефону: {{ ord.phone }}</li>
            <li>Місто: {{ ord.city }}</li>
            <li>Вулиця: {{ ord.street }}</li>
            <li>Будинок: {{ ord.house }}</li>
            <li>Квартира: {{ ord.flat }}</li>
            <li>Коментар: {{ ord.comments }}</li>
            <li>Бокс: {{ ord.box }}</li>
            <li><h6>До сплати: {{ ord.totalPrice }} грн.</h6></li>
        </ol>
        <button (click)="deleteAdminOrder(ord)" class="btn btn-danger">Виконано</button>
    </div>
</div>

